@import"./typography.css";

/* ----------------------main content------------------ */

.alert-box{
  list-style: none;
    width: 80%;
    
}

#error-alert{
    border: 1px solid var(--secondary-color);
    background-color: red;
    padding: 0.5rem;
   
}

#warning-alert{
    border: 1px solid var(--secondary-color);
    background-color: yellow;
    padding: 0.5rem;
    
}

#info-alert{
    border: 1px solid var(--secondary-color);
    background-color: blue;
    padding: 0.5rem;
   
}
#success-alert{
    border: 1px solid var(--secondary-color);
    background-color: lightgreen;
    padding: 0.5rem;
}

.paragraph{
    list-style: none;
    font-size: 16px;
    width: 80%;
}

.para-error-text{
    border: 1px solid red;
    padding: 0.3rem;
}
.para-warning-text{
    border: 1px solid yellow;
    padding: 0.3rem;
}
.para-info-text{
    border: 1px solid blue;
    padding: 0.3rem;
}
.para-success-text{
    border: 1px solid lightgreen;
    padding: 0.3rem;
}

