@import "./typography.css";


.image-box{
   display: inline-flex;
 
justify-content: center;

   border: 1px solid var(--primary-color);
   height: 10vh;
   list-style: none;
}

.avatar-img{
   
    width: 45px;
    margin-top: 10rem;

  border-radius: 5rem;
}