@import "./typography.css";
@import "./avatar.css";
.badge-icons{
    border: 1px solid var(--primary-color);
width: 80%;

 text-align: center;
}

.badge-icons>span{
    font-size: 60px;
    margin-top: 2rem;
}

.number {
  
    position: relative;
    color: white;
    background-color: blueviolet;
    padding: 7px 12px;
    width: 35px;
    border-radius: 5rem;
    bottom: 75px;
    left: 20px;
    border: 1px solid blueviolet;
    font-size: 15px;
  
    margin: auto;
  }

  .image-grouped-badge{
    list-style: none;
  height: 6rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 5rem;
    border: 1px solid var(--primary-color);
  }
  .avatar-group-1{
    position: relative;
    color: white;

    padding: 8px 10px;
    width: 5rem;
    border-radius: 5rem;
    top: 10px;
    left: 10px;
 
  

    margin: auto;
  }

  .avatar-group-2{
    position: relative;
    color: white;

    padding: 8px 10px;
    width: 5rem;
    border-radius: 5rem;
    top: 10px;
    left: -25px;
 
  

    margin: auto;
  }

  .number-avatar {
    /* position: relative;
    color: white;
    background-color: blueviolet;
    padding: 7px 9px;
    width: 35px;
    border-radius: 5rem;
    top: 2rem;
    right: 7rem;
    border: 1px solid blueviolet;
    font-size: 15px;
  
    margin: auto; */

    font-size: 16px;
    background-color:blueviolet;  
    color: white;
     padding: 8px 9px; 
     
  position: relative;
  top: 3.5rem;
  left: -3rem;
 height: 2.2rem;
     border-radius: 5rem;
     width: 35px;
   
    
    }

  .number-avatar-1 {
 font-size: 16px;
  background-color:blueviolet;  
  color: white;
   padding: 8px 9px; 
   
position: relative;
left: -25px;
height: 2.2rem;
   border-radius: 5rem;
   width: 35px;
 
  
}

.iframe-box{
    margin-top: -5rem;
}