@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Libre+Franklin:wght@100&family=Macondo&family=Oleo+Script+Swash+Caps&family=Patua+One&family=Permanent+Marker&family=Signika+Negative:wght@500;600&display=swap');
/* -----------first letter of header take the primary color------- */
h1>a{
    text-decoration: none;
    color: var(--secondary-color);
}


/* ----------------left bar css-------------------- */
.nav-child{
   float: right;
  display: grid;
position: relative;
top: -18px;
}
.nav-bar{
    position: sticky;
    left: 0;
    top: 0;
    overflow-y: auto;
}
.nav-bar ul{
list-style: none;
margin: 0;
padding: 0;
border-right: 1px solid skyblue;
width: 15%;
height: 200vh;
}
.nav-bar li:hover{
    background-color: skyblue;
    color: white;

}

.nav-bar li{
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    align-items: flex-start;
    padding: 0.5rem;
   font-size: 1.3rem;
   color: var(--secondary-color);
   cursor: pointer;
   
}
li>a{
    text-decoration: none;
    color: var(--secondary-color);
}

/* --------------------right bar css----------------------- */

.card{
   background-color: skyblue;
   padding: 10px;
   color: white;
   text-align: center;
   font-size: 1rem;
   box-shadow: 0 1rem 1rem rgba(0,0,0,0.12), 0 1rem 1rem rgba(0,0,0,0.24);
   
}

.aside{
    float: right;
    position: fixed;
    right:2rem;
    top:6rem;
  
    }

    /* ------------main content css------------------ */

.col-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 flex-wrap: wrap;
 position: absolute;
 top: 11rem;
 left: 15rem;
 width: 60%;
 text-align: left;
color: black;
}

.intro::first-letter{
    color: skyblue;
}
.main-para{
font-size:20px;
width: 90%;
margin-top: 0.1rem;
}
/* ---------------header icon---------------------- */
#left-drawer-icon{
position: relative;
top: 0.3rem;
font-size: 28px;
visibility: hidden;
}
iframe{
    border: 1px solid skyblue;
    width: 80%;
    margin-top: 2rem;
}

/* ---------------for mobiles-------------------- */
@media only screen and (max-width: 600px) {

    body{
        display: grid;
    }

    .aside{
        visibility: hidden;
    }

    .nav-bar{
        visibility: hidden; 
    }

    .col-2{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
position: absolute;
left: 10px;
   font-size: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .aside{
      
    visibility: hidden;
    }
    .nav-bar{
      visibility: hidden;
       
    }
    .col-2{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
position: absolute;
left: 10px;
   font-size: 10px;
    }
    #left-drawer-icon{
        position: relative;
        top: 0.3rem;
        font-size: 28px;
      visibility: visible;
        } 

}

/* ----------------footer------------------ */
 footer{
    
    font-size: 20px;
    background-color: var(--primary-color); 
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  position: relative;
  top:  5rem;
    color: var(--secondary-color);
}


footer>div{
    margin-bottom: 10px;
  
}
footer>i{
    display: block;
    margin-bottom: 1rem;
}
footer>li{
    display: inline;
    margin: 1rem;
   
    list-style: none;
} 
/* --------another page nav css---------------- */
.nav-signs{
  
    cursor: pointer;
    margin-left: auto;
    margin-top: 2rem;
}

.nav-sign-link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 24px;
   
}

/* ---------------side bars docs and versions css---------------- */
.side-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    position: relative;
 margin-top: -2rem;
}

.input{
    margin-left: auto;
    position: relative;
    top: -5rem;
   right: 400px;
   border: 1px solid blue;
   border-radius: 4px;
   padding-inline-start: 35px;
   padding: 11px;
}

.search-btn{
    margin-left: auto;
 color: var(--primary-color);
    position: relative;
    top: -7.5rem;
    right: 360px;
    font-size: 1rem;
    padding: 9px ;
    cursor: pointer;
}

.header{
    position: relative;
    top: -1rem;
       font-size: 4rem;
       padding: 16px;
       margin: 15px;
       margin-left: 2rem;
     color: var(--secondary-color);
   ;
   }

   /* -------------------------------media query----------------------------------------- */

   @media only screen and (max-width: 1200px) {
    .header{
        position: relative;
        top: -1rem;
           font-size: 2rem;
           padding: 16px;
           margin: 15px;
           margin-left: -1rem;
         color: var(--secondary-color);
       ;
       }

       .input{
        margin-left: auto;
        position: relative;
        top: 0.1rem;
     right: 9rem;
       border: 1px solid blue;
       border-radius: 4px;
       padding-inline-start: 35px;
       padding: 11px;
    }

    .search-btn{
        margin-left: auto;
    color: white;
        position: relative;
        top: -2.3rem;
        right:6.3rem;
        font-size: 1rem;
        padding: 4px ;
        cursor: pointer;
    }

    .side-nav{
     margin-top: -2.5rem;
    }

   }