@import "./avatar.css";

/* ------------main content css-------------------- */
.nav-container{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem;
  
}

.nav-container>a{
    text-decoration: none;
    color: teal;
    text-align: left;
    font-size:16px ;
}

.nav-container>input{
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
   font-size: 20px;
   padding: 1rem;
 position: relative;
 left: 2rem;
}

.nav-container>span{
    font-size: 2rem;
    position: relative;
    left: 4rem;
    margin: 1rem;
    cursor: pointer;
} 

.nav-container>span:hover{
 color: var(--primary-color);
}

#favourite-icon:hover{
color: red;
}

#search-bar{
    font-size: 2rem;
    position: relative;
  left: 1rem;
    margin: 1rem;
    cursor: pointer;
}





 