@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Gentium+Book+Plus&family=Libre+Franklin:wght@100&family=Macondo&family=Oleo+Script+Swash+Caps&family=PT+Serif:ital,wght@0,400;1,700&family=Patua+One&family=Permanent+Marker&family=Roboto+Slab:wght@300&family=Signika+Negative:wght@500;600&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}
:root {
    --primary-color:skyblue;
    --background-color:#f5f5f4;
    --secondary-color:black;
   
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:var(--secondary-color); 
}
/* ------------------------------Header css------------------------------- */
.header{
 position: relative;
 top: -3rem;
    font-size: 4rem;
    padding: 16px;
    margin: 15px;
    margin-left: 8rem;
  color: var(--secondary-color);

 
}
.header-child{
    color: var(--primary-color);
    font-weight: bolder;

}

/*------------------------------------- Navigation css------------------------------------ */
.side-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    position: relative;
 margin-top: -6rem;
}
.input{
    margin-left: auto;
    position: relative;
    top: -4rem;
   right: 400px;
   border: 1px solid blue;
   border-radius: 4px;
   padding-inline-start: 35px;
   padding: 11px;
}
#left-drawer-icon{
    position: relative;
    top: 0rem;
    font-size: 33px;
 gap: 10px;
visibility: hidden;
 cursor: pointer;
    }
.search-btn{
    margin-left: auto;
 color: var(--primary-color);
    position: relative;
    top: -105px;
    right: 360px;
    font-size: 24px;
    padding: 9px ;
    cursor: pointer;
}
.search-btn:hover{
    color: var(--secondary-color);
}
.version{
    margin-left: auto;
    
    position: relative;

    top: -140px;
    right: 205px;
    font-size: 18px;
  cursor: pointer;
}
.version:hover{
    color: blue;
}
.docs{
    margin-left: auto;
    
    position: relative;

    top: -160px;
    right: 160px;
    font-size: 18px;
  cursor: pointer;
}
.docs:hover{
  color: blue;
}
.git{
    margin-left: auto;
    padding: 5px;
    position: relative;
color: white;
background-color: skyblue;
border: 0px solid blue;
border-radius: 5px;
    top: -185px;
    right: 85px;
   
text-decoration: none;
    font-size: 18px;
  cursor: pointer;
}

.git:hover{
    color: var(--secondary-color);
}
#night{
    margin-left: auto;
    color: var(--primary-color);
    position: relative;
border: 1px solid skyblue;
color: white;
background-color: skyblue;
border-radius: 3px;
padding: 5px;
    top: -220px;
    right: 30px;
    font-size: 30px;
  cursor: pointer;
}

#night:hover{
    color: var(--secondary-color);
}

/*----------------------------------Main Content-------------------------------------- */

.description{
    font-size: 28px;
 width: 95%;
 padding: 16px;
    margin-left: auto;
  position: relative;
 bottom: 10rem; 
  right: 20px;
  height: 5vh;
  margin-bottom: 0px;
  text-align: center;
 
}


.btn-1{
    border: 0px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
    font-size: 1.5rem;
 width: 25%;
 background-color: var(--primary-color);
 cursor: pointer;

 }
.btn-1>a{
    text-decoration: none;
    color: var(--background-color);
} 
.btn-1>a:hover{
    color: var(--secondary-color);
} 
.btn-2{
    border: 0px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
    font-size: 1.5rem;
 width: 25%;
 background-color: var(--primary-color);
 cursor: pointer;
 
}

.btn-2>a:hover{
    color: var(--secondary-color);
}
.git-img{
    width:1.5rem;
position: relative;
top: 0.2rem;
left: 0.1rem;
}

#get-started{
    position: relative;
top: 0.3rem;
left: 0.3rem;
}

.btn-2>a{
   text-decoration: none;
   color: var(--background-color);
}
/*---------------------footer css------------------------- */
footer{
   margin-top: 11rem;
    font-size: 20px;
    background-color: var(--primary-color); 
    font-weight: bolder;
    text-align: center;
    padding: 1rem 1rem;
    color: white;
    height: 11rem;
margin-left: -3rem;
margin-right: -5rem;
margin-top: 8.7rem;
}

.footer-img{
    width: 3rem;
}

#social-emoji{
    font-size: 2.8rem;
    color: white;
    position: relative;
    top: 1rem;
}

.footer-img:hover{
    background-color: white;
    border-radius: 0.3rem;
}



footer>div{
    margin-bottom: 10px;
  
}
footer>i{
    display: block;
    margin-bottom: 1rem;
}
footer>li{
    display: inline;
    margin: 1rem;
   text-decoration: none;
    list-style: none;
} 


/*---------------------------- For Mobiles----------------------------------- */

@media only screen and (max-width: 1000px) {
    body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color:var(--primary-color);
      
    }
 
.header{
  position: relative;
  top: -1rem;
    font-size: 24px;
    padding: 3px;
    margin: 2px;
  
}
.input{
 
    position: relative;
    top: 2rem;
   right: 75px;
   border: 1px solid blue;
   border-radius: 4px;
   padding-inline-start: 35px;
   padding: 7px;
  
}
.search-btn{
    
    color: white;
    position: relative;
    top: -0.1rem;
    right: 40px;
    background-color: skyblue;
    border: 0px solid blue;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px ;
    cursor: pointer;
}
.version{
    margin-left: auto;
    
    position: relative;
text-align: center;
    top: 2rem;
    right: 290px;
    font-size: 20px;
  cursor: pointer;
}
.docs{
    position: relative;
text-align: center;
    top: 0.6rem; 
    right: 215px;
    font-size: 20px;
  cursor: pointer;
}
.git{
    margin-left: auto;
    
    position: relative;
color: white;
background-color: skyblue;
border: 0px solid blue;
border-radius: 5px;
    top: -0.8rem;
    right: 130px;
    font-size: 16px;
  cursor: pointer;
}
#night{
    margin-left: auto;
    
    position: relative;

    top: -3rem;
    right: 65px;
    font-size: 30px;
  cursor: pointer;
}
.description{
    font-size: 24px;
 width: 90%;
 padding: 16px;
    margin-left: auto;
  position: relative;
  color: black;
  top: -50px;
  right: 0px;
}
.btn-1{
    width: 8rem;
}
.btn-2{
    width:8rem;
}
footer{
    margin-top: 15em;
}

}

