@import"./style.css";
@import"./install.css";

.aside{
    width: 180px;
    font-size: medium;
}
.card{
    font-size: 16px;
}

.heading-box{
    border: 1px solid var(--primary-color);
    text-align: center;
  
font-size: larger;

}

.heading-box:first-letter{
    color: var(--primary-color);
}

.para::first-letter{
    color: var(--primary-color);
}

.left-text{
    border: 1px solid var(--primary-color);
    text-align: left;
    width: 60%;
    padding: 1rem;
}
.right-text{
    border: 1px solid var(--primary-color);
    text-align: right;
    width: 60%;
    padding: 1rem;
}

.center-text{
    border: 1px solid var(--primary-color);
    text-align: center;
    width: 60%;
    padding: 1rem;
}
.small-text{
    border: 1px solid var(--primary-color);
    text-align: left;
   font-size: 10px;
    width: 60%;
    padding: 1rem;
}
.nav-bar>ul{
    height: 250vh;
}
.grey-text{
    border: 1px solid var(--primary-color);
    text-align: left;
    color: grey;
    width: 60%;
    padding: 1rem;
}


.nav-signs{
   margin-top: 5rem;
    cursor: pointer;
    display: inline-flex;
 
    justify-content: center;
    
       border: 0px solid var(--primary-color);
      
       list-style: none;
}

 .nav-sign-link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 30px;
margin-left: 45rem;
margin-top: -3rem;
}

#nav-sign-link2{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 30px;
margin-right: 48rem;


} 

