@import"./style.css";
@import"./install.css";
@import"./avatar.css";
/* ----------------------Right Bar Card-------------------------- */
.aside{
    width: 14%;
    font-size: medium;
}
.card{
    font-size: 16px;
}
/*----------------------------- Main Content------------------ */
.heading-box{
    border: 1px solid var(--primary-color);
    text-align: center;
  width: 80%;
font-size: larger;

}

.heading-box:first-letter{
    color: var(--primary-color);
}

.para::first-letter{
    color: var(--primary-color);
}

.left-text{
    border: 1px solid var(--primary-color);
    text-align: left;
    width: 50%;
    padding: 1rem;
}
.right-text{
    border: 1px solid var(--primary-color);
    text-align: right;
    width: 50%;
    padding: 1rem;
}

.center-text{
    border: 1px solid var(--primary-color);
    text-align: center;
    width: 50%;
    padding: 1rem;
}
.small-text{
    border: 1px solid var(--primary-color);
    text-align: left;
   font-size: 10px;
    width: 50%;
    padding: 0.5rem;
}

/* ---------------------------Left Side Nav---------------------- */
.nav-bar>ul{
    height: 250vh;
}
.grey-text{
    border: 1px solid var(--primary-color);
    text-align: left;
    color: grey;
    width: 50%;
    padding: 1rem;
}


.nav-signs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
  list-style: none;
  width: 90%;
 position: relative;
}
 
 .nav-sign-link-1{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    position: relative;
right: -20%;
margin-right: auto;
margin-top: 1.5rem;

} 

#nav-sign-link2{
    position: relative;
    right:50% ;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
margin-left: auto;
margin-top: 1rem;

} 

/*------------------------------Iframe------------------------------ */
.iframe-box{
    width: 90%;

}


footer{
    color: var(--background-color);
}


.carousel-button{
    position: fixed;
    z-index: 2;
   background: none;
   border: none;
   font-size: 2rem;
   top: 50%;
  
   transform: translateY(-50%);
   color: rgba(255,255,255,.5);
   cursor: pointer;
   border-radius: 0.5rem;
   padding: 0.5rem;
   background-color: rgba(0,0,0,.1);
 }
 
 .carousel-button:hover,
 .carousel-button:focus{
     color: white;
     background-color: rgba(0,0,0,.2);
   
 }
 
 .carousel-button:focus{
     outline: 1px solid black;
 }
 
 .carousel-button.prev{
    right: 19rem;
 }
 
 .carousel-button.next{
     right: 16rem;
 }